# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.npy

# VSCode / PyCharm
.vscode/
.idea/


# Environment files
.env
*.egg-info/
env/
venv/
.venv/


# System files
Thumbs.db

# model logs
runs/
runs_new/
runs_new_final/
ivan_model_logs/

#models
checkpoints/
finished_models/
checkpoints_new/
finished_models_new/

#ppgeo_dataset
downloads/
extracted_frames/
converted_dataset/
converted_dataset_rgb/
converted_dataset_rgb_bigger/

yt_cache/
data/
log/
#all subfolders inside PPGeo folder
PPGeo/**/

#model files are too big to push so will ignore
*.ckpt
*.pth


ppgeo_dataset/PPGeo/data
