# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.npy

# VSCode / PyCharm
.vscode/
.idea/


# Environment files
.env
*.egg-info/
env/
venv/
.venv/

# Jupyter and debugging
.ipynb_checkpoints/
*.log
.DS_Store

# System files
Thumbs.db
